.head-bar {
	text-align: center;
	height: 7%;
	width: 100%;
	background-color: #ffffff;
	min-height: 2rem;
}

.bar-left {
	height: 100%;
	width: 25%;
	float: left;
	font-size: 1.1rem;
	color: #000000;
}

.back-img {
	float: left;
	width: 30%;
	height: 100%;
	margin-left: 2%;
}

.ps-bar-font {
	height: 100%;
	width: 50%;
	float: left;
	font-size: 1.1rem;
	color: #000000;
}

.ps-bar-font table {
	height: 100%;
	width: 100%;
}

.n-content {
	background-color: #FFFFFF;
	width: 100%;
	height: 3.4rem;
	border-bottom:thin solid #EBEBEB ;
}

.back-right-img {
	width: 30%;
	height: 100%;
}

.n-content-left {
	width: 85%;
	float: left;
	background-color: #FFFFFF;
	height: 100%;
}

.n-content-left-top {
	margin-left: 5%;
	text-align: left;
	padding-top: 0.4rem;
}

.n-content-left-bottom {
	margin-left: 5%;
	text-align: left;
	padding-bottom: 0.4rem;
}

.n-content-right {
	width: 15%;
	height: 100%;
	float: left;
	background-color: #FFFFFF;
	line-height: 3.4rem;
	vertical-align:middle;
}
