.ps-one-div{
	width: 100%;
	float: left;
	background-color: #ffffff;
	margin-top: 0.5rem;
	line-height: 55px;
}
.ps-one-div-left{
	width: 50%;
	float: left;
	background-color: #ffffff;
	position: relative;
}
.ps-one-div-left img{
	width: 60%;
	float: left;
	padding: 1rem 0 1rem 1rem;
}
.ps-one-div-right{
	width: 50%;
	float: left;
	background-color: #ffffff;
	position: relative;
}

.ps-one-div-right-top-one{
	height: 50%;
	width: 100%;
	float: left;
	background-color: #ffffff;
	color: #C5C1AA;
	text-align: right;
	line-height: 1;
	font-size:12px ;
	padding-top: 5%;
}
.ps-one-div-right-top-one a{
	margin-right: 5%;
}

.ps-one-div-right-bottom{
	width: 100%;
	height: 50%;
	float: right;
	background-color: #ffffff;
	color: #C5C1AA;
	line-height: 1;
	text-align: right;
	margin-top:3px ;
}
.ps-one-div-right-bottom span{
	 padding-right: 5%;
}
.ps-two-div{
	width: 100%;
	height: 46px;
	float: left;
	background-color: #F4F4F4;
    color: #000000;
    line-height: 46px;
    
}
.ps-two-div span{
	 margin-left: 2.5%;
}
.ps-three-div-one {
    float: left;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 1px;
    line-height: 46px;
}

.ps-three-div-one-left{
	 width: 50%; 
	 float: left;
}
.ps-three-div-one-left div{
	margin-left: 5%;
	float: left;
}

.ps-three-div-one-right{
	 width: 50%;
	 float: right;
	 text-align: right;
}
.ps-three-div-one-right div{
	margin-right: 5%;
 	float: right;
}

.ps-three-div-one-equipment {
	width: 50%; 
	float: left;
}
.ps-three-div-one-equipment div{
	margin-left: 5%;
	float: left;
	color: #C7C7CC;
}
.ps-three-div-one-equipment-value{
	width: 50%;
	float: right;
	text-align: right;
}
.ps-three-div-one-equipment-value div{
	margin-right: 5%;
 	float: right;
}
.ps-three-div-one-equipment-value span{
	color: greenyellow;
	line-height: 45px;
	font-size:16px;
}

.ps-three-div-one-equipment-value2{
	width: 50%;
	float:right;
	text-align: left;
	line-height: 1;
	padding: 0.8rem 0rem 0.8rem 0rem;
}


.ps-badge {
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	padding: 3px 6px;
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #104780;
}

.ps-badge-circle {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	padding: 3px 6px;
	color: #FFFFFF;
	border-radius: 12px;
	background-color: red;
}


