<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/login.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>

	<body>
		<div class="mui-content">
			<h1 style="text-align: center;color: #104780;margin-top:25% ;">盾构先锋 TBMP</h1>
			<div style="margin-top: 20%;">
				<form class="mui-input-group" onkeydown="if(event.keyCode==13) {login();}">
					<div class="mui-input-row">
						<label>Input</label>
						<input type="text" id="login_account" class="mui-input-clear" placeholder="请输入账号">
					</div>
					<div class="mui-input-row mui-password">
						<label>Input</label>
					<input type="password" id="login_password" class="mui-input-password" placeholder="请输入密码">
					</div>
				</form>
			</div>
			<div class="l-two-div">
				<div class="l-tl-div">
					<input style="margin-top:0" class="float-left" type="checkbox" id="remember_login"><span class="float-left" style="color: #000000;">&nbsp;记住账号</span>
				</div>
				<div class="l-tl-div">
					<input style="margin-top:0" class="float-left" type="checkbox" id="remember_login"><span class="float-left" style="color: #000000;">&nbsp;自动登录</span>
				</div>
			</div>
			<div class="mui-content-padded" style="margin-top: 5rem;">
		        <button type="button" class="mui-btn mui-btn-primary mui-btn-block" onclick="login();">登陆系统</button>
			</div>	
		</div>
	</body>
	<script>
		function login() {
			var username = $("#login_account").val().trim();
			var password = $("#login_password").val().trim();
			if(username == ""){
				mui.toast("用户名不能为空");
				return;
			}if(password == ""){
				mui.toast("密码不能为空");
				return;
			}
			$.post(
				"http://192.168.60.19:8080/tbmp/rest/users/login", {
					'username': username,
					'password': password
				},
				function(data) {
					if (data.respCode == 0) {
						window.location.href = 'project-abstract.html';
					} else {
						mui.toast(data.respDesc);
						return;
					}
				},'json');
		}
	</script>

</html>