<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/login.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>

	<body>
		<div class="mui-content">
			<h1 style="text-align: center;color: #104780;margin-top:25% ;">盾构先锋 TBMP</h1>
			<div style="margin-top: 20%;">
				<div class="mui-input-row">
					<input type="text" class="mui-input-clear" placeholder="带清除按钮的输入框">
				</div>
				<div class="mui-input-row mui-password">
					<input type="password" class="mui-input-password">
				</div>
				
				<div class="mui-content-padded" style="margin: 5px;">
				
				<div class="mui-input-row mui-password">
					<input type="password" class="mui-input-password">
				</div>
				<form class="mui-input-group">
					
					<div class="mui-input-row">
						<label>Input</label>
						<input type="text" class="mui-input-clear" placeholder="带清除按钮的输入框">
					</div>
				</form>

			</div>
				
				
			</div>
			
				
		</div>
	</body>
	<script>
		function login() {
			var username = $("#login_account").val();
			var password = $("#login_password").val();
			$.post(
				"http://192.168.60.19:8080/tbmp/rest/users/login", {
					'username': username,
					'password': password
				},
				function(data) {
					if (data.respCode == 0) {
						window.location.href = "project-abstract.html";
					} else {
						alert(data.respDesc);
					}
				}, 'json');
		}
	</script>

</html>