<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>通知公告详情</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" />
		<link href="../css/notice-detail.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
		<style>
			.ca-body{
				background-color: #EBEBEB;overflow: hidden;
			}
			.clear{
				clear: both;
			}
		</style>
	</head>
	<body class="w-body ca-body">
		<div style="height: 2rem;width: 100%;background-color: #FFFFFF;float: left;color: blue;padding-left: 1rem;"> < </div><!-- 返回按钮-->
		<div style="width: 100%;text-align: center;background-color: #FFFFFF;padding: 1.2rem 0 0.8rem 0;">
				请提交2015年的年终总结
		</div>
		<div style="height: 2rem;width: 100%;text-align: center; background-color: #FFFFFF;">
			<div style="width: 34%;float: left;text-align: center;">通知</div>
			<div style="width: 32%;;float: left;text-align: center;">王经理</div>
			<div style="width: 34%;;float: left;text-align: center;">1月12日</div>
		</div>
		<div style="background-color: #FFFFFF;">
			<div style="width: 90%;background-color: #FFFFFF;margin: auto;">
				按照公司规定。。。。搜带好傲世地方奥地方和；奥斯电话费地方电话费奥斯丁和覅；哦多少分奥斯丁和覅卡神
				经病的分离开家三代付款啦十点半弗兰克萨打吧付款拉萨的脚步付款三发<br><br><br>
	
			 <a href="#">附件</a>
			</div>
				
		</div>
	</body>
</html>
