<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>通知公告</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/notice.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id = "return_summary"></a>
			<h1 class="mui-title">通知公告</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
		        <li class="mui-table-view-cell">
	                <a class="mui-navigate-right" id="aaaa">
	                    <h5 style="font-size:16px;color: #000000;">请提交2015工作总结</h5>
	                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">通知</span><span style="padding-right:5%;color: #007AFF;font-size:14px;">王经理</span><span style="color: orange;font-size:14px;">1月12日</span>
	                </a>
	            </li>
		        <li class="mui-table-view-cell">
	                <a class="mui-navigate-right">
	                    <h5 style="font-size:16px;color: #000000;">请提交2015工作总结</h5>
	                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">通知</span><span style="padding-right:5%;color: #007AFF;font-size:14px;">王经理</span><span style="color: orange;font-size:14px;">1月12日</span>
	                </a>
		        </li>
		        <li class="mui-table-view-cell">
	                <a class="mui-navigate-right">
	                    <h5 style="font-size:16px;color: #000000;">系统提醒，你已经5个月没有更换密码</h5>
	                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">消息</span><span style="padding-right:5%;color: #007AFF;font-size:14px;">王经理</span><span style="color: orange;font-size:14px;">1月12日</span>
	                </a>
		        </li>
		    </ul>
		</div>
			
		</div>
	</body>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		document.getElementById("return_summary").addEventListener("tap",function(){
			mui.openWindow({
				url:"project-summary.html",
				id:"project-summary.html"
			});
		})
		
		document.getElementById("aaaa").addEventListener("tap",function(){
			mui.openWindow({
				url:"notice-detail.html",
				id:"notice-detail.html"
			});
		})
	</script>
</html>
