<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>项目摘要</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<link href="../css/common.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/project-abstract.css" type="text/css"/>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>
	<body class="w-body w100 h100">
		<div class="head-bar">
			<div class="bar-left">
				<a href="login.html"><img class="back-img" src="../images/arrows-left.png"></a>
			</div>
			<div class="bar-font">
				<table>
					<tr>
						<td>项目摘要</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="main-div">
			<div class="main-div-one">
				<table>
					<thead>
					<th width="32%">项目</th>
					<th width="17%">进度</th>
					<th width="17%">设备</th>
					<th width="17%">预警</th>
					<th >风险</th>
					</thead>
					<tbody>
						<tr>
							<td>上海5号线2标</td>
							<td><div class="main-div-one-picture-g"></td>
							<td><div class="main-div-one-picture-g"></td>
							<td><div class="main-div-one-picture-g"></td>
							<td><div class="main-div-one-picture-g"></td>
						</tr>
						<tr>
							<td>宁波地铁</td>
							<td><div class="main-div-one-picture-g"></td>
							<td><div class="main-div-one-picture-g"></td>
							<td><div class="main-div-one-picture-y"></td>
							<td><div class="main-div-one-picture-g"></td>
						</tr>
						<tr>
							<td>珠海顺道</td>
							<td><div class="main-div-one-picture-o"></div></td>
							<td><div class="main-div-one-picture-b"></div></td>
							<td><div class="main-div-one-picture-g"></div></td>
							<td><div class="main-div-one-picture-r"></div></td>
						</tr>
					</tbody>
				</table>
			</div>
				<div class="mui-content-padded" style="margin-top: 2rem;">
		        <button type="button" class="mui-btn mui-btn-primary mui-btn-block" onclick="window.location.href = 'project-summary.html'">项目汇总</button>
		    </div>
		</div>
	</body>
</html>
