<!DOCTYPE html>
<html>
	<head class="mui-bar mui-bar-nav">
		<meta charset="UTF-8">
		<title>项目汇总</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" />
		<link href="../css/project-details.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/iconfont.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
		<script>
			document.getElementById('return_ project_').addEventListener('tap', function() {
			  		//打开关于页面
			  		mui.openWindow({
				    	url: 'project-abstract.html', 
			    		id:'abstract'
	  			});
			});
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id = "return_ project_"></a>
			<h1 class="mui-title">项目汇总</h1>
			<a class="mui-icon iconfont icon-icon13 mui-pull-right" style="color: #C7C7CC;"><span class="mui-badge" style="top: 5px;left: 70%;">9</span></a>
			
		</header>
		<div class="mui-content">
				<div class="ps-one-div">
					<div class="ps-one-div-left"><img class="ps-one-img-left" src="../images/shanghai-subway.png"></div>
					<div class="ps-one-div-right">
							<div class="ps-one-div-right-top-one">
								<div class="ps-one-div-right-top-one-left">代办事项</div>
								<div class="ps-one-div-right-top-one-right">12</div>
							</div>
						<div class="ps-one-div-right-bottom"><span>5号线延伸线</span></div>
					</div>
				</div>
				<div class="ps-two-div">
					<span style="margin-left: 5%;">第一标段</span>
				</div>
				<div class="ps-three-div">
					
					<div class="ps-three-div-one">
						<div class="ps-three-div-left">   
							 <div class="ps-three-div-left-one">
							 	<span class="mui-badge" style="font-size: 15px;">当前推进环数</span>
							 	<span class="mui-badge" style="font-size: 15px;">9</span>
							 </div>
						</div>
						
						<div class="ps-three-div-left">
							<div class="ps-three-div-right-one">
								今日推进环数
							</div>
							<div class="ps-three-div-right-two">
							 	<span style="color: #FFFFFF">12</span>
							 </div>
						</div>
					</div>
					
					<div class="ps-three-div-one">
						<div class="ps-three-div-left">   
							 <div class="ps-three-div-two-left">
							 	<span style="color: #C5C1AA;">设备状态</span>
							 </div>
							 
						</div>
						
						<div class="ps-three-div-left">
							<div class="ps-three-div-right-one">
								正常
							</div>
							<div class="ps-three-div-check">
							 	<span style="color: ghostwhite">√</span>
							 </div>
						</div>
					</div>
					
					<div class="ps-three-div-one">
						<div class="ps-three-three-left">   
							 <div class="ps-three-div-two-left2">
							 	<span style="color: #C5C1AA;">预警状态</span>
							 </div>
						</div>
						
						<div class="ps-three-div-left2">
							<div class="ps-three-div-right-one2">
							130环处有电力管线，工程预警3级
							</div>
						</div>
					</div>
				</div>
				
				<div class="ps-new-two-div">
					<span style="margin-left: 5%;">第二标段</span>
				</div>
				<div class="ps-three-div">
					
					<div class="ps-three-div-one">
						<div class="ps-three-div-left">   
							 <div class="ps-three-div-left-one">
							 	当前推进环数
							 </div>
							 
							 <div class="ps-three-div-left-two">
							 	<span style="color: #FFFFFF">125</span>
							 </div>
						</div>
						
						<div class="ps-three-div-left">
							<div class="ps-three-div-right-one">
								今日推进环数
							</div>
							<div class="ps-three-div-right-two">
							 	<span style="color: #FFFFFF">8</span>
							 </div>
						</div>
					</div>
					
					<div class="ps-three-div-one">
						<div class="ps-three-div-left">   
							 <div class="ps-three-div-left-one">
							 	<span style="color: #C5C1AA;">设备状态</span>
							 </div>
							 
						</div>
						
						<div class="ps-three-div-left">
							<div class="ps-three-div-right-one">
								正常
							</div>
							<div class="ps-three-div-check">
							 	<span style="color: ghostwhite">√</span>
							 </div>
						</div>
					</div>
					
					<div class="ps-three-div-one">
						<div class="ps-three-div-left">   
							 <div class="ps-three-div-left-one">
							 	<span style="color: #C5C1AA;">预警状态</span>
							 </div>
							 
						</div>
						
						<div class="ps-three-div-left">
							<div class="ps-three-div-right-one">
								无预警
							</div>
							<div class="ps-three-div-check">
							 	<span style="color: ghostwhite">√</span>
							 </div>
						</div>
					</div>
				</div>
				
		</div>		
	</body>
</html>
