<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>项目摘要</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/project-summary.css" type="text/css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" id="btn_return_login"></a>
			<h1 class="mui-title">项目摘要</h1>
			<button type="button" id="toDetails_" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">汇总</button>
		</header>
		<div class="mui-content">
			<div class="main-div">
				<div class="main-div-one" id="main_project_">
				</div>
				<div class="mui-content-padded" style="margin-top: 2rem;" id="to_all_project_detail">
				</div>
			</div>
		</div>
	</body>
	
	<script>
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
	</script>

	<script>
		$(function() {
			$.post(
				"http://192.168.60.19:8080/tbmp/rest/projects/summary", {},
				function(data) {
					var result = "";
					if (data.respCode == 0) {
						result += '<table>';
						result += '<thead><th width = "35%">项目 </th><th width = "17%">进度 </th><th width = "17%">设备</th><th width = "17%">预警 </th><th>风险 </th></thead>';
						result += '<tbody>';
						for (var i = 0; i < data.results.length; i++) {
							result += '<tr><td>' + data.results[i].projectName + '</td>';
							if (data.results[i].process == 1) {
								result += '<td><div class="main-div-one-picture-o"></div></td>';
							} else {
								result += '<td><div class="main-div-one-picture-r"></div></td>';
							}
							if (data.results[i].device == 1) {
								result += '<td><div class="main-div-one-picture-o"></div></td>';
							} else {
								result += '<td><div class="main-div-one-picture-r"></div></td>';
							}
							if (data.results[i].warning == 1) {
								result += '<td><div class="main-div-one-picture-o"></div></td>';
							} else {
								result += '<td><div class="main-div-one-picture-r"></div></td>';
							}
							if (data.results[i].risk == 1) {
								result += '<td><div class="main-div-one-picture-o"></div></td>';
							} else {
								result += '<td><div class="main-div-one-picture-r"></div></td>';
							}
							result += '</tr>';
						}
						result += '</tbody></table>';
						$("#main_project_").html(result);
					} else {
						result += '<h1>暂无项目</h1>';
						$("#main_project_").html(result);
						$("#to_all_project_detail").hide();
					}
				}
			);
		});
		
	</script>
	
	<script>
		document.getElementById("toDetails_").addEventListener("tap", function() {
	  //打开关于页面
		mui.openWindow({
			url:"project-details.html", 
		    id:"project-details.html"
		  });
		});
		
		document.getElementById("btn_return_login").addEventListener("tap",function (){
			mui.openWindow({
			url:"login.html", 
		    id:"login.html"
		  });
		});
	</script>
</html>