<!DOCTYPE html>
<html>
	<head class="mui-bar mui-bar-nav">
		<meta charset="UTF-8">
		<title>项目汇总</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/iconfont.css" />
		<link rel="stylesheet" href="../css/iconfont-check.css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<link href="../css/project-details.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id = "return_ project_"></a>
			<h1 class="mui-title">项目汇总</h1>
			<a id="to_notice" class="mui-icon iconfont icon-icon13 mui-pull-right" style="color: #C7C7CC;"><span class="mui-badge" style="top: 5px;left: 70%;">9</span></a>
		</header>
		
		<div class="mui-content">
			<div class="ps-one-div">
				<div class="ps-one-div-left"><img src="../images/shanghai-subway.png"></div>
				<div class="ps-one-div-right">
						<div class="ps-one-div-right-top-one">
							<span>代办事项</span>
							<a><span class="ps-badge-circle">9</span></a>
						</div>
						<div class="ps-one-div-right-bottom">
							<span>5号线延伸线</span>
						</div>
				</div>
			</div>
			<div class="ps-two-div">
				<span>第一标段</span>
			</div>
				
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-left">
					<div>当前推进环数<span class="ps-badge">123</span></div>
					
				</div>
				
				<div class="ps-three-div-one-right">
					<div>今日推进环数<span class="ps-badge">2</span></div>
				</div>
			</div>
			
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-equipment">
					<div><span>设备状态</span></div>
				</div>
				<div class="ps-three-div-one-equipment-value">
					<div>正常<span class="mui-icon iconfont-check icon-gougou mui-pull-right"></span></div>
					
				</div>
			</div>
			
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-equipment">
					<div><span>预警状态</span></div>
				</div>
				<div class="ps-three-div-one-equipment-value2">
					<span>130环处力有电力预警</span>
					
				</div>
			</div>
			
			<div class="ps-two-div">
				<span>第二标段</span>
			</div>
				
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-left">
					<div>当前推进环数<span class="ps-badge">123</span></div>
					
				</div>
				
				<div class="ps-three-div-one-right">
					<div>今日推进环数<span class="ps-badge">2</span></div>
					
				</div>
			</div>
			
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-equipment">
					<div><span>设备状态</span></div>
				</div>
				<div class="ps-three-div-one-equipment-value">
					<div>正常<span class="mui-icon iconfont-check icon-gougou mui-pull-right"></span></div>
				</div>
			</div>
			
			<div class="ps-three-div-one">
				<div class="ps-three-div-one-equipment">
					<div><span>预警状态</span></div>
				</div>
				<div class="ps-three-div-one-equipment-value">
					<div>无预警<span class="mui-icon iconfont-check icon-gougou mui-pull-right"></span></div>
				</div>
			</div>
				
		</div>		
	</body>
	<script>
		document.getElementById("to_notice").addEventListener("tap", function() {
		  		//打开关于页面
		  		mui.openWindow({
			    	url: "notice.html", 
		    		id: "notice.html"
  			});
		});
	</script>
</html>
