<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>
	<body>
		<div class="mui-content">
			<div style="width:500px; height:200px; border:1px blue solid; display: table-cell; vertical-align: middle;background-color: #929292;">
			<span>你是傻逼啊</span>
			<span class="mui-badge" style="font-size: 15px;">当前推进环数</span>
		</div>
		</div>
		
	</body>
</html>
