<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>代办事项</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/iconfont-history.css" />
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script src="../js/mui.min.js"></script>
	</head>
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id = "return_ project_"></a>
			<h1 class="mui-title">代办事项</h1>
			<a id="to_notice" class="mui-icon iconfont icon-lishijilu mui-pull-right" style="color: #C7C7CC;"></a>
		</header>
	<body>
		<div class="mui-content">
			<div style="width: 100%;background-color: #FFFFFF;margin-top: 15px;text-align: center;border-top:0.5px solid #c8c7cc;border-bottom:0.5px solid #c8c7cc;">
				<div><img src="../images/shanghai-subway.png"></div>
			</div>
			
			<div style="width: 100%;text-align: left;height: 25px;line-height: 25px;">
				<span style="padding-left:15px">问题相应</span>
			</div>
			<div style="width: 100%;">
				<ul class="mui-table-view" style="line-height: 1;">
			        <li class="mui-table-view-cell">
		                <a class="mui-navigate-right" id="aaaa">
		                    <h5 style="font-size:16px;color: #000000;">请提交2015工作总结</h5>
		                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">王经理</span><span style="color: orange;font-size:14px;padding-right:5%;">1月12日</span><span style="color: red;font-size:14px;">日常工作</span>
		                </a>
		            </li>
			        <li class="mui-table-view-cell">
		                <a class="mui-navigate-right">
		                    <h5 style="font-size:16px;color: #000000;">请提交2015工作总结</h5>
		                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">张经理</span><span style="color: orange;font-size:14px;padding-right:5%;">1月12日</span><span style="color: red;font-size:14px;">应急预案</span>
		                </a>
			        </li>
		   		</ul>
			</div>
			
			<div style="width: 100%;text-align: left;height: 25px;line-height: 25px;">
				<span style="padding-left:15px">应急处理</span>
			</div>
			<div style="width: 100%;">
				<ul class="mui-table-view" style="line-height: 1;">
			        <li class="mui-table-view-cell">
		                <a class="mui-navigate-right" id="aaaa">
		                    <h5 style="font-size:16px;color: #000000;">上行408环处漏水，需紧急处理</h5>
		                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">张立明</span><span style="color: orange;font-size:14px;padding-right:5%;">1月12日</span><span style="color: red;font-size:14px;">施工风险</span>
		                </a>
		            </li>
			        <li class="mui-table-view-cell">
		                <a class="mui-navigate-right">
		                    <h5 style="font-size:16px;color: #000000;">请提交2015工作总结</h5>
		                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">王怜花</span><span style="color: orange;font-size:14px;padding-right:5%;">1月31日</span><span style="color: red;font-size:14px;">项目进度</span>
		                </a>
			        </li>
		   		</ul>
			</div>
			
			<div style="width: 100%;text-align: left;height: 25px;line-height: 25px;">
				<span style="padding-left:15px">任务实施</span>
			</div>
			<div style="width: 100%;">
				<ul class="mui-table-view" style="line-height: 1;">
			        <li class="mui-table-view-cell">
		                <a class="mui-navigate-right" id="aaaa">
		                    <h5 style="font-size:16px;color: #000000;">每周周报定时开催</h5>
		                    <span style="font-size:14px;padding-right:5%;color: #007AFF;">张经理</span><span style="color: orange;font-size:14px;padding-right:5%;">1月12日</span><span style="color: red;font-size:14px;">周报月报</span>
		                </a>
		            </li>
		   		</ul>
			</div>
				
		</div>
	</body>
</html>
